/* Main HTML and body style */
* {
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* end of main HTML and body style */

/* Main player "card" style */
.player {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 320px;
	height: 480px;
	overflow: hidden;
}

.player .main {
	width: 100%;
	height: 100%;
	background: #222;
	transition:all 500ms ease-in-out;
}

.player .main .thumbnail img {
	width: 100%;
}
/* end of main player "card" style */

/* seekbar style */
.player .main .seekbar {
	margin-top: -15px;
}

.player .main .seekbar input[type="range"] {
	-webkit-appearance:none;
	width: 100%;
	height: 4px;
	outline: none;
	background: #aaa;
	overflow: hidden;
}

.player .main .seekbar input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance:none;
	width: 0px;
	height: 0px;
	box-shadow: -300px 0px 0px 300px #00acee;
}
/* end of seekbar style */

/* "card" text details style */
.player .main .details {
	text-align: center;
	padding: 15px 0px;
}

.player .main .details h2 {
	font-size: 19px;
	color:#eee;
	margin-bottom: 5px;
}

.player .main .details p {
	font-size: 15px;
	color: #aaa;
}
/* end of "card" text details style */

/* Player "card controls style */
.player .main .controls {
	display: flex;
	justify-content: center;
	margin:8px 0px;
}

.player .main .controls > div {
	margin:0px 30px;
	cursor: pointer;
}

.player .main .controls i.fa {
	font-size:25px;
	color: #ddd;
}

.player .main .controls > div.play-pause-control i.fa-play {
	display: none;
}

.player .main .controls > div.play-pause-control.paused i.fa-play {
	display: block;
}

.player .main .controls > div.play-pause-control.paused i.fa-pause {
	display: none;
}
/* End of player "card" controls style */

/* Player list style */
.player .player-list {
	position: absolute;
	width: 100%;
	margin-top:-20px;
	height: 350px;
	overflow-y: scroll;
	background: rgba(0,0,0,0.8);
	transition:all 500ms ease-in-out;
}

.player .player-list .toggle-list {
	position: sticky;
	top:0px;
	text-align: center;
	height: 20px;
	line-height: 20px;
	background: #555;
}

.player .player-list .toggle-list i.fa {
	color: #ccc;
	font-size: 20px;
	font-weight: 600;
}
/* clickable list angle icons style */
.player .player-list .toggle-list i.fa-angle-down {
	display: none;
}

.player .player-list .toggle-list.active i.fa-angle-up {
	display: none;
}

.player .player-list .toggle-list.active i.fa-angle-down {
	display: block;
}
/* end of clickable list angle icons style */

.player .list {
	padding: 10px;
}

/* Player list item style */
.player .list .item {
	display: flex;
	padding: 5px 0px;
	border-bottom: 1px solid #222;
	cursor: pointer;
}

.player .list .item .thumbnail {
	width: 50px;
	height: 50px;
	overflow: hidden;
}

.player .list .thumbnail img {
	width: 100%;
	height: 100%;
}

.player .list .item .details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0px 10px;
}

.player .list .item .details h2 {
	color: #eee;
	font-size: 16px;
}

.player .list .item .details p {
	color: #aaa;
	font-size: 15px;
}
/* end of player list item style */

/* Player list scrollbar style */
.player .player-list::-webkit-scrollbar {
	width: 5px;
    background: #222;
}

.player .player-list::-webkit-scrollbar-thumb {
    background: #00acee;
}
/* end of player list scrollbar style */

.player.activeSongList .player-list {
	margin-top: -350px;
}
/* Player list background blur effect */
.player.activeSongList .main {
	filter:blur(5px);
}
/* end of player list background blur effect */
/* End of player list style */


.searchbar {
    padding: 5px;
    background-color: #222;
    width: 100%;
    color: #eee;
}